 {
  "parser": "babel-eslint",
  "extends": [
    "prettier",
    "prettier/react"
    // "require.resolve('./packages/eslint-config-fbjs')",
  ],
  "plugins": [ "prettier" ],
  "rules": {
    "prettier/prettier": ["error", {
    "useTabs": true
    }]
	}
}
