.login {
	background-color: #fff;
	transition: all 0.3s ease;
	transform: translateX(0%);
	height: 100%;
	position: absolute;
	width: 100%;
}

.login-form{
	width: 90%;
	max-width: 600px;
	transform: translate(-50%,-50%);
	position: absolute;
	top: 50%;
	left: 50%;
}
