
.wide {
	position: fixed;
	left: 0;
	width: 240px;
	background-color: #3E3E3E;
	color: #FFFFFF;
	top: 0;
	bottom: 0;
	height: 100%;
}

ul li {
	list-style: none;
	display: none;
}

a.children-tab-button,
a.adult-tab-button,
a.imports-tab-button,
a.settings-tab-button {
	padding: 30px 30px 20px 30px;
	color: #ffffff;
	display: block;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 2.25px;
	line-height: 22px;
	font-weight: bold;
}
.adult-tab-button.active,
.children-tab-button.active,
.imports-tab-button.active,
.settings-tab-button.active {
	color: #f9f9f9;
	transition: all 0.2s ease-in-out;
	text-decoration: none;
}

.adult-tab-button.active ~ .tab-group-adult {
	display: block;
}

.children-tab-button.active ~ .tab-group-children {
	display: block;
}

.imports-tab-button.active ~ .tab-group-imports {
	display: block;
}

.settings-tab-button.active ~ .tab-group-settings {
	display: block;
}

.wide li a:hover,
.wide li a:focus {
	text-decoration: none;
}
.wide li:hover {
	background-color: #313131;
	transition: all 0.2s ease-in-out;
}
.hide-form {
	visibility: hidden;
}
.age-range {
	display: none;
}
.children .age-range {
	display: block;
}
.adult .adult-only {
	display: block !important;
	margin-bottom: 10px;
}
.adult-only,
.children-only {
	display: none;
}
.children .children-only {
	display: block !important;
}
